.test{
    z-index: 5;
    background:url("https://media2.giphy.com/media/3ndAvMC5LFPNMCzq7m/giphy.gif?cid=ecf05e47knmw6pmzymh2alh697o91pul4n9mqmr3nbrkfwvc&ep=v1_gifs_gifId&rid=giphy.gif&ct=g");
    position: relative;
}